<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <button class="btn btn-secondary" (click)="setFormValue()">Set Form Data</button>
            <button class="btn btn-secondary" (click)="patchFormValue()">Patch Form Data</button>

            <form (ngSubmit)="onSubmitForm(form)" #formElement
                #form="ngForm">
                <div
                    id="user-data"
                    ngModelGroup="userData"
                    #userData="ngModelGroup"
                >
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            id="username"
                            class="form-control"
                            ngModel
                            name="username"
                            required
                        >
                    </div>
                    <button class="btn btn-default" type="button">Suggest an Username</button>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input
                            type="email"
                            id="email"
                            class="form-control"
                            ngModel
                            name="email"
                            required
                            email
                            #email="ngModel"
                        >
                        <span class="help-block"
                            *ngIf="!email.valid && email.touched"
                            [ngClass]="(!email.valid && email.touched) ? 'io-invalid' : ''"
                        >Enter VALID.</span>
                    </div>
                </div>
                <p *ngIf="!userData.valid && userData.touched">user Data invalid</p>
                <div class="form-group">
                    <label for="secret">Secret Questions</label>
                    <select
                        id="secret"
                        class="form-control"
                        [ngModel]="defaultQuestion"
                        name="secret"
                    >
                        <option value="pet">Your first Pet?</option>
                        <option value="teacher">Your first teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea
                        name="questionAnswer"
                        rows="3"
                        class="form-control"
                        [(ngModel)]="answer"
                    ></textarea>
                    <p>Your reply: {{answer}}</p>
                </div>
                <div class="radio" *ngFor="let fruit of fruit">
                    <label>
                        <input
                            type="radio"
                            name="fruit"
                            ngModel
                            [value]="fruit"
                        >
                        {{fruit}}
                    </label>

                </div>
                <div class="btn-group-vertical">
                    <button
                        class="btn btn-secondary"
                        type="submit"
                        [disabled]="!form.valid"
                    >Submit Form
                    </button> <!-- linked to (ngSubmit) -->
                    <button class="btn btn-secondary" (click)="onSubmitFormElement(formElement)">Submit Form Element</button>
                    <button class="btn btn-secondary" (click)="onSubmitFormViewChild()">Submit Form ViewChild</button>
                </div>
            </form>
        </div>
    </div>
</div>
